# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          # Upload entire repository
          path: '.'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2

        <!DOCTYPE html>
<head>
    
    <title>
        Strona testowa
    </title>
    
    <meta lang="en"> 
    <meta charset="UTF-8">
    <meta name="Autor" content="Bartosz Chmielecki">
    <meta http-equiv="Refresh" content="300">

    <link rel="stylesheet" href="16.09.css" type="text/css">
   
    <style>

body {background-color:whitesmoke;}


div.bloczki{
    height:auto;
    width:auto;
    max-width:440px;
    max-height:880px;
    min-width:220px;
    min-height:440px;
    padding:10px;
    background-color:black;
    border-radius:20px;
    background-image: url("https://www.werandacountry.pl/data/articles/1665487793_mały-piesek1.jpg");
    margin-bottom:10px;
    float:left;
    box-shadow: 0 15px 25px rgba(0,0,0,0.8); 

 


}

div#blok1{
    background-color:aqua;
    text-align:center;
    border-radius:20px;
    width:200px;
    height:200px;
   float:left;
    margin-left:10px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("https://www.creativefabrica.com/wp-content/uploads/2020/05/09/Hexagonal-line-pattern-vector-Graphics-4073679-1-580x419.jpg");
    box-shadow: 0 15px 25px rgba(0,0,0,0.8); 
    
    
    

}
div#blok2{
    background-color:pink;
    text-align:center;
    border-radius:20px;
    width:200px;
    height:200px;
    
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    background-image:url("https://as1.ftcdn.net/v2/jpg/01/06/98/04/1000_F_106980476_3VDRLFWwgRCUcYQjbKUfgBPEkwrWL23E.jpg"); box-shadow: 0 15px 25px rgba(0,0,0,0.8); 
    
    
    

}


div#blok3 {
    background-color:plum;
    text-align:center;
    border-radius:20px;
    width:200px;
    height:200px;
    float:left;
    margin-left:10px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("https://i.pinimg.com/736x/ee/77/a1/ee77a1ba754aa187b755985c3a976328--background-vintage-geometric-background.jpg");
    box-shadow: 0 15px 25px rgba(0,0,0,0.8); 

}

div#blok4{
    background-color:palegoldenrod;
    text-align:center;
    border-radius:20px;
    width:200px;
    height:200px;
    margin-left:10px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:10px;
    display:flex;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPYer0piz8eHneX9wzbN5gH0DIq-jeMioINvBVxYCxTEtkdo4CZ9WlXQLj7BOSvBiP4_4&usqp=CAU");
    box-shadow: 0 15px 25px rgba(0,0,0,0.8); 
    

}

div.prawa {
    height:auto;
    width:auto;
    max-width:400px;
    min-width:400px;
    background-color:red;
    display: flex;
    justify-content:flex-end;
    border-radius:20px;
    background-image: url("https://www.werandacountry.pl/data/articles/1665487793_mały-piesek1.jpg");
    margin-left:10px;
    margin-bottom:10px;
    margin-right:10px;
    padding:20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.8); 
    color:white;
    text-align:center
    
    

}



div#prawa1 {
    background-color:aliceblue;
    border-radius:20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.8); 
    text-align:center;
    font-family:courier;
    font-size:13px;
    max-width: 400px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
    


.btn {
    background-color: #98b366;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align:center;
    font-size: 16px;
    font-family:courier;
    margin: 10px 10px;
    transition: 0.3s;
    BORDER-RADIUS:10px;
    border: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8); 


    
    
}
.btn:hover {
    background-color:rgb(46, 46, 46);
    color: rgb(254, 254, 254);
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Reguluje odstęp od tekstu powyżej przycisku */
}

/* Pozostała zawartość CSS */

.bloczki {
    height: auto;
    max-width: 440px;
    min-width: 220px;
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Wyśrodkowanie w pionie */
    flex-wrap: wrap; /* Dopuszczamy zawijanie elementów na wąskich ekranach */
}
.container2 {
    max-width:460px; /* Określ szerokość diva */
    margin: 0 auto; /* Wyśrodkuj diva na środku strony poziomo */
    text-align: center; /* Wyśrodkuj tekst w divie poziomo */
    padding: 20px; /* Dodaj wypełnienie dla lepszego wyglądu */
    border: 10px solid #1d442f; /* Dodaj obramowanie, opcjonalnie */
    border-radius:20px;
}


    </style>


</head>

<body>
<div class="container2">
    <h1 style="text-align:center;margin-top:20px;">
    Dlaczego <em>pieski</em> są takie urocze?
</h1>
<p>
    Gdy się głaszcze, zwłaszcza szczeniaki dużych ras, ich jedwabista skóra przesuwa się pod dłonią, tworząc urocze fałdy. To tak, jakby miały już docelową ilość skóry i musiały ją tylko wypełnić ciałem w miarę dorastania. 
</p>
</div>


    <div class="container">
<div class="bloczki">
    <div id="blok1">
        <p></p>
    </div>
    <div id="blok2">
        <p></p>
    </div>
    <div id="blok3">
        <p></p>
    </div>
    <div id="blok4">
        <p></p>
    </div>

    
    </div>
    <div class="prawa">
        <div id="prawa1">
            </div>
            
            <p>
        
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of L.
            </p>
        </div>
</div>
<div class="center-button">
<button class="btn" onclick="window.location.href='https://www.w3docs.com/snippets/html/how-to-create-an-html-button-that-acts-like-a-link.html';"> LINK DO PIESKÓW </button>
</div>




</body>

</html>

